@font-face {
  font-family: icomoon;
  src: url(./iconfont/vip/0ebf151b.icomoon.eot?#iefix);
  src: url(./iconfont/vip/e5b09441.icomoon.svg#icomoon) format("svg"),url(./iconfont/vip/0ebf151b.icomoon.eot?#iefix) format("eot"),url(./iconfont/vip/02dc310b.icomoon.ttf) format("truetype"),url(./iconfont/vip/e2ee03ef.icomoon.woff) format("woff")
}

[class*=" icon-"],[class^=icon-] {
  font-family: icomoon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none
}

.icon-addcollect:before {
  content: "\E001"
}

.icon-arrow-down-left:before {
  content: "\E002"
}

.icon-arrow-down:before {
  content: "\E003"
}

.icon-arrow-left:before {
  content: "\E004"
}

.icon-arrow-right:before {
  content: "\E005"
}

.icon-arrow-up:before {
  content: "\E006"
}

.icon-back:before {
  content: "\E007"
}

.icon-bag:before {
  content: "\E008"
}

.icon-beautiful:before {
  content: "\E009"
}

.icon-big-circle:before {
  content: "\E00A"
}

.icon-bookmark:before {
  content: "\E00B"
}

.icon-browse-history:before {
  content: "\E00C"
}

.icon-cart-rmb:before {
  content: "\E00D"
}

.icon-cart:before {
  content: "\E00E"
}

.icon-circle-selected:before {
  content: "\E00F"
}

.icon-circle:before {
  content: "\E010"
}

.icon-clean:before {
  content: "\E011"
}

.icon-clock:before {
  content: "\E012"
}

.icon-close-round:before {
  content: "\E013"
}

.icon-close-round2:before {
  content: "\E014"
}

.icon-close:before {
  content: "\E015"
}

.icon-cross:before {
  content: "\E016"
}

.icon-deliver:before {
  content: "\E017"
}

.icon-dress:before {
  content: "\E018"
}

.icon-filter-brand:before {
  content: "\E019"
}

.icon-filter-checked:before {
  content: "\E01A"
}

.icon-filter:before {
  content: "\E01B"
}

.icon-function-home:before {
  content: "\E01C"
}

.icon-global:before {
  content: "\E01D"
}

.icon-gps:before {
  content: "\E01E"
}

.icon-heart-ed:before {
  content: "\E01F"
}

.icon-heart-empty:before {
  content: "\E020"
}

.icon-home:before {
  content: "\E021"
}

.icon-icon-screen:before {
  content: "\E022"
}

.icon-life:before {
  content: "\E023"
}

.icon-list:before {
  content: "\E024"
}

.icon-location:before {
  content: "\E025"
}

.icon-man:before {
  content: "\E026"
}

.icon-maternal:before {
  content: "\E027"
}

.icon-member:before {
  content: "\E028"
}

.icon-message:before {
  content: "\E029"
}

.icon-minus:before {
  content: "\E02A"
}

.icon-more:before {
  content: "\E02B"
}

.icon-multiple-choice-normal:before {
  content: "\E02C"
}

.icon-multiple-choice-selected:before {
  content: "\E02D"
}

.icon-new-logo:before {
  content: "\E02E"
}

.icon-notification:before {
  content: "\E02F"
}

.icon-online-service:before {
  content: "\E030"
}

.icon-orders:before {
  content: "\E031"
}

.icon-outdoor:before {
  content: "\E032"
}

.icon-pay:before {
  content: "\E033"
}

.icon-phone:before {
  content: "\E034"
}

.icon-plus:before {
  content: "\E035"
}

.icon-punctuation:before {
  content: "\E036"
}

.icon-quality:before {
  content: "\E037"
}

.icon-question-mark:before {
  content: "\E038"
}

.icon-refresh:before {
  content: "\E039"
}

.icon-right:before {
  content: "\E03A"
}

.icon-rmb:before {
  content: "\E03B"
}

.icon-rmb2:before {
  content: "\E03C"
}

.icon-safe:before {
  content: "\E03D"
}

.icon-search:before {
  content: "\E03E"
}

.icon-service:before {
  content: "\E03F"
}

.icon-share-link:before {
  content: "\E040"
}

.icon-share-pengyou:before {
  content: "\E041"
}

.icon-share-qq:before {
  content: "\E042"
}

.icon-share-qzone:before {
  content: "\E043"
}

.icon-share-sina:before {
  content: "\E044"
}

.icon-share-weixin:before {
  content: "\E045"
}

.icon-share:before {
  content: "\E046"
}

.icon-spot:before {
  content: "\E047"
}

.icon-star-checked:before {
  content: "\E048"
}

.icon-star-normal:before {
  content: "\E049"
}

.icon-success:before {
  content: "\E04A"
}

.icon-time:before {
  content: "\E04B"
}

.icon-tuan:before {
  content: "\E04C"
}

.icon-up:before {
  content: "\E04D"
}

.icon-vip-close:before {
  content: "\E04E"
}

.icon-vip-v:before {
  content: "\E04F"
}

.icon-warning:before {
  content: "\E050"
}